
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        PRVA VJEZBA SA KOLEGIJA
        </br>
        @ViewBag.Lokacija
    </div>
</body>
</html>
