
@{
    ViewBag.Title = "Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Student</h2>

<h3>Ime studenta: @ViewBag.Ime</h3>
<h3>Prezime studenta: @ViewBag.Prezime</h3>
<h3>Godina rođenja: @ViewBag.GodinaRođenja</h3>
